<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177971910553-1ru5i8nve6le52qaevhl13gvdth5sgs1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177971910553-1ru5i8nve6le52qaevhl13gvdth5sgs1</string>
	<key>API_KEY</key>
	<string>AIzaSyB85493c-_m3Ynk2b0dPw1afYWj00gXS74</string>
	<key>GCM_SENDER_ID</key>
	<string>177971910553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elegant</string>
	<key>PROJECT_ID</key>
	<string>elegant-90760</string>
	<key>STORAGE_BUCKET</key>
	<string>elegant-90760.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177971910553:ios:133b3d91799d9f227be508</string>
</dict>
</plist>